# Simulation
simpy==4.1.1
salabim==22.1.5

# Math & Data
numpy==1.26.4
scipy==1.14.1
pandas==2.2.2

# Visualization
matplotlib==3.9.2
seaborn==0.13.2
tqdm==4.66.5

# Productivity
jupyterlab==4.2.5
ipykernel==6.29.5

# Machine Learning / AI
scikit-learn==1.5.2
torch==2.2.2
gymnasium==0.29.1
stable-baselines3==2.3.2

